@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewaybold";
  src: url("./assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ralewayblack";
  src: url("./assets/fonts/Raleway-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-ralewaybold {
  font-family: "raleway";
}

.body-bg {
  font-family: "raleway";
  background-image: url("./assets/bg-dark.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* Add this CSS to your styles */
.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

body::-webkit-scrollbar {
  display: none;
}


